@charset "utf-8";
/* CSS Document */

	@import url(css/reset.css);

/*
	1. General
			1.a. Fonts
			1.b. Headings
			1.c. Transition
			1.d. Text Elements
			1.e. Tables
			1.f. Definition Lists
			1.g. Forms
			1.h. Images
			1.i. Widgets
	2. Layout
			2.a. Main Menu Button
			2.b. Main Menu Types
			2.c. Main Menu Contact
	3. Blog
	4. Portfolio
			4.a. Recent Gallery
	5. Loader Style
	6. Back To Top Style
	7. Retina Images
*/

	@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800);
	@import url(http://fonts.googleapis.com/css?family=Righteous);

	/*----*****---- << General >> ----*****----*/

	html, body { height:100%; }
	html.inner-page, html.inner-page body { overflow: visible; background-image:url(http://placehold.it/1920x1200&text=Main+BG+Image); background-attachment: fixed; height: auto }
	html.inner-page .content, .inner-page .content { vertical-align: middle; position: absolute; left: 0; right:0; top: -20px; -webkit-transform: translate(0%, -0%); -ms-transform: translate(0%, 0%); transform: translate(0%, 0%); }

	.wrapper.inner-page #header.type1, .wrapper.inner-page #header.type2 { top: -2%; height: 102%; }

	.section { background-image: url(images/main-bg-image.jpeg); background-attachment: fixed; background-size: cover; }

	p { font-size:16px; line-height: 28px; font-weight: lighter; margin-bottom: 10px; }

		/*----*****---- << Fonts >> ----*****----*/

		body { margin:0; font-family: 'Raleway', sans-serif; color: #ffffff;  background-attachment: fixed; }

		/*----*****---- << Headings >> ----*****----*/

		h1 { font-size: 40px; font-weight: bold; text-transform:uppercase; }
		h2 { font-size: 34px; font-weight: normal; text-transform:uppercase; line-height: 30px; }
		h3 { font-size: 30px; font-weight: 400; line-height: 30px; }
		h4 { font-size: 26px; font-weight: normal; }
		h5 { font-size: 24px; font-weight: lighter; line-height: 28px; }
		h6 { font-size: 20px; font-weight: lighter; line-height: 30px; }

		.border-title { display: block; text-transform: uppercase; position:relative; margin-bottom: 65px; line-height: normal; }

		h1.border-title { margin-bottom: 110px; }
		h2.border-title { margin-bottom: 100px; }
		h3.border-title { margin-bottom: 90px; }
		h4.border-title { margin-bottom: 80px; }
		h5.border-title { margin-bottom: 70px; }
		h6.border-title { margin-bottom: 60px; }

		.border-title.alignright { text-align: right; width: 100%; position: relative; }
		.border-title.aligncenter { text-align: center; }
		.border-title.alignleft { text-align: left; width: 100%; position: relative; }

		.border-title:after { content: ""; background-repeat: no-repeat; height: 22px; position: absolute; display: inline-block; width: 100%; background-image: url(images/border-title-bg.png); }

		h1.border-title:after { bottom: -55px; width: 230px; }
		h2.border-title:after { bottom: -50px; width: 210px; }
		h3.border-title:after { bottom: -45px; width: 190px; }
		h4.border-title:after { bottom: -40px; width: 170px; }
		h5.border-title:after { bottom: -35px; width: 150px; }
		h6.border-title:after { bottom: -30px; width: 130px; }

		.border-title.alignright:after { background-position: right; right: 0; left: auto; }
		.border-title.aligncenter:after { background-position: center; right: 0; left: 0; margin: 0 auto;}
		.border-title.alignleft:after { background-position: left; right: auto; left: 0; }

		.sub-title { width: 98%; float: none; display: inline-block; position: relative; margin-bottom: 20px; color: #FFFFFF; }
		.sub-title.alignleft { text-align: left; border-left: 3px double #ffffff; padding-left: 2%; margin-right: 0; }
		.sub-title.alignright { text-align: right; border-right: 3px double #ffffff;  padding-right: 2%; margin-left: 0; }
		.sub-title.aligncenter{ text-align: center;  border-right: 3px double #ffffff; border-left: 3px double #ffffff; margin-right: 0;  margin-left: 0;  }

		/*----*****---- << Transition >> ----*****----*/

		a, a:hover, body:hover #header, body #header, #header, .dt-sc-portfolio .fig-overlay, .dt-sc-portfolio:hover .fig-overlay, .dt-sc-portfolio .fig-overlay a span, .dt-sc-portfolio:hover .fig-overlay a span,
		.dt-sc-portfolio .fig-overlay p, .dt-sc-portfolio:hover .fig-overlay p, .dt-sc-portfolio figcaption i, .dt-sc-portfolio:hover figcaption i, #header ul li, #header ul li.active, #header ul li:hover, #header ul li.active span,
		#header ul li span, .dt-sc-ico-content.type1, .dt-sc-ico-content.type1:hover, .dt-sc-ico-content.type1 .special:after, .dt-sc-ico-content.type1:hover .special:after, .dt-sc-ico-content.type1 i span,
		.dt-sc-ico-content.type1:hover i span, .contact:hover .view-map, .view-map, .dt-sc-portfolio .fig-overlay a span:after, .dt-sc-portfolio:hover .fig-overlay a span:after, .dt-sc-entry-meta .date:hover:after,
		.dt-sc-entry-meta .date:after, .dt-sc-blog-entry:hover .dt-sc-entry-thumb p.author, .dt-sc-entry-thumb p.tags, .dt-sc-blog-entry:hover .dt-sc-entry-thumb p.tags, .dt-sc-entry-thumb img,
		.dt-sc-entry-thumb img:hover, .dt-sc-button i.fa, .dt-sc-button:hover i.fa,	.dt-sc-ico-content.type2 i, .dt-sc-ico-content.type2:hover i, .dt-sc-ico-content.type2:after, .dt-sc-ico-content.type2:hover:after,
		.dt-sc-ico-content.type2:before, .dt-sc-ico-content.type2:hover:before,	.dt-sc-ico-content.type3 i, .dt-sc-ico-content.type3:hover i, .dt-sc-ico-content.type3:hover, .dt-sc-ico-content.type3, .dt-sc-ico-content.type3 i,
		.dt-sc-ico-content.type3:hover i, .dt-sc-tb-content li i, .dt-sc-pr-tb-col.selected .dt-sc-tb-content li i, .dt-sc-pr-tb-col:hover .dt-sc-tb-content li i, .dt-sc-tb-content li.pr-cross:before,
		.dt-sc-pr-tb-col.selected li.pr-cross:before, .dt-sc-pr-tb-col:hover li.pr-cross:before, .dt-sc-pr-tb-col.selected li.pr-cross:before, #commentform p.form-submit input[type="submit"],
		#commentform p.form-submit:hover input[type="submit"], .post-nav-container .next-post:after, .post-nav-container .next-post:hover:after, .post-nav-container .prev-post:before, .post-nav-container .prev-post:hover:before,
		.post-nav-container .prev-post:hover span, .post-nav-container .next-post:hover span, .post-nav-container .prev-post span, .post-nav-container .next-post span, .carousel-arrows a i, .carousel-arrows a i:hover,
		.dt-sc-portfolio:hover figure img, .dt-sc-portfolio figure img, .post-nav-container .prev-post a:before, .post-nav-container .prev-post a:after, .post-nav-container .next-post a:before,
		.post-nav-container .next-post a:after, .post-nav-container .prev-post:hover a:before, .post-nav-container .prev-post:hover a:after, .post-nav-container .next-post:hover a:before, .post-nav-container .next-post:hover a:after,
		.view-map-1, .contact:hover .view-map-1, .dt-sc-tabs-frame-content .dt-sc-team figure p.icon-links a i:hover, .dt-sc-team figure p.icon-links a i, .widget ul li:before,
		.widget ul li:hover:before, .widget ul li, .widget ul li:hover, a.open-menu p, a.open-menu:hover p, a.open-menu.type3 span, a.open-menu.type4 span, a.open-menu.type3:hover span, a.open-menu.type4:hover span, #header nav ul li img,
		#header nav ul li.active img, #header nav ul li:hover img, .dt-sc-contact form.dt-sc-enquiry-form input.submit, .dt-sc-contact form.dt-sc-enquiry-form input.submit:hover, .dt-sc-team figure, .dt-sc-team:hover figure {
		-webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -o-transition: all 300ms linear; -ms-transition: all 300ms linear; transition: all 300ms linear; }


		/*----*****---- << Text Elements >> ----*****----*/

		a { text-decoration: none; }
		a:hover { color: #868686; }
		a img { border: none; }
		img { height:auto; }

		strong { font-weight: 500; }
		em { font-style: italic; }

		address { display: block; margin: 10px 0 20px; }
		abbr {  border-bottom: 1px dotted #868686; cursor: help; }
		ins { background: #FFF9C0; color: #868686; }
		sub, sup { font-size: 75%; position: relative; vertical-align: baseline; }
		sub { bottom: -3px; }
		sup { top: -9px; }

		ul, ol, pre, code { margin-bottom: 20px; line-height: 20px; }

		ul { list-style-type: none; list-style-position: inside; }
		ul li { padding-bottom: 10px; }
		ul li ul { list-style-type: disc; padding-left: 20px; margin: 10px 0 0; }
		ul ul ul { margin-bottom: 0; list-style-type: circle; }

		ol { list-style-type: decimal; list-style-position: outside; padding-left: 20px; padding-top: 10px; }
		ol li { padding-bottom: 10px; }
		ol li ol { margin-bottom: 0; list-style-type: lower-alpha; }
		ol ol ol { margin-bottom: 0; list-style-type: lower-roman; }

		pre, code { border-left: 3px solid #d8d8cb; background-color: #e5e5d8; display: block; padding: 10px 3%; font-size: 11px; font-family: monospace; line-height: 20px; width: 94%; overflow: auto; }

		hr { background-color: #f4f4f4; border: none; height: 1px; margin: 30px 0; }

		blockquote { display: block; padding: 20px 20px 25px; margin: 20px 0; position: relative; clear: left; border-top: 1px solid rgba(255,255,255,0.3); border-bottom: 1px solid rgba(255,255,255,0.3); }
		blockquote q { font-size: 16px; display: inline-block; text-align: center; line-height: 24px; }
		blockquote q:before, blockquote q:after { font-size: 24px; }
		blockquote cite { font-style: normal; line-height: 30px; font-weight: 400; margin: 10px 0 0; display: block; text-align: right; }
		blockquote cite span { font-size: 12px; }
		blockquote p { margin-bottom: 0; }

		blockquote.alignleft { margin-right: 20px; text-align: left; width: 30%; float: left; }
		blockquote.alignright { margin-left: 20px; text-align: left; width: 30%; float: right; }
		blockquote.aligncenter { text-align: center; }

		/* due to IE <HR> margin bugs I had to made classed and apply them to div to achieve the effect of a <HR> */

		.clear { float: none; clear: both; margin: 0; padding: 0; }
		.float-right { float: right; }
		.float-left { float: left; }
		.center { width: 100%; text-align: center; }
		.hidden { display: none !important;}

		.post-edit-link { background: #e6e5d9; color: #5a5a5a; float: right; clear: both; margin: 20px 0 20px; line-height: 24px; padding: 5px 15px 3px; font-size: 12px; border-radius: 5px; }
		.post-edit-link:hover { color: #ffffff; text-shadow: 0 1px 0 #0e4b6e; }

		.page-link { float: left; width: 100%; clear: both; margin: 10px 0 0; padding: 0; }
		.page-link a { float: left; }
		.page-link a span { float: left; background: #ffffff; margin: 0 5px; width: 40px; height: 40px; color: #37251b; line-height: 40px; border-radius: 40px; text-align: center; cursor: pointer; }
		.page-link span, .page-link a span:hover { float: left;  margin: 0 5px; width: 40px; height: 40px; color: #37251b; background: #ac9d8e; display: inline-block; border-radius: 40px; line-height: 40px; text-align: center; }

		/*----*****---- << Tables >> ----*****----*/

		table { border-collapse: separate; border-spacing: ; margin-bottom: 20px; width: 100%; clear: both; border-bottom: 0; border: 1px solid rgba(255,255,255,0.6);  }
		th { background: #35072c; color:#ffffff; padding: 17px 15px; font-size: 16px; line-height: normal; font-weight: bold; text-transform: uppercase; text-align: center; border-right: 1px solid rgba(255,255,255,0.6); }
		td { background: #eb7567; font-size: 14px; line-height: normal; text-align: center; padding: 13px 15px; border-right: 1px solid rgba(255,255,255,0.6); border-top: 1px solid rgba(255,255,255,0.6); }

		td:last-child { border-right: none; }
		tr.alternate td { background: #e9967a; }

		table.no-border, table.no-border th, table.no-border td { border: none; }

		/*----*****---- << Definition Lists >> ----*****----*/

		dl { margin: 0 20px; }
		dl.gallery-item { margin: 0; }
		.gallery-caption { margin-bottom: 10px; }
		.gallery-item img { border: 10px solid #e5e5d8 !important; }
		dt { font-weight: bold; font-size: 14px; margin-bottom: 10px; }
		dd { margin-bottom: 20px; line-height: 20px; }

		/*----*****---- << Forms >> ----*****----*/

		label { color: #ac9d8e; }
		label span { color: #b4b4b4; }
		label span.required { color: #ff0000; }

		fieldset { border: 1px solid #efefef; padding: 15px; margin: 0 0 20px 0; }
		legend { font-weight: bold; }

		input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="number"], input[type="range"], input[type="date"], textarea, input.text, input[type="search"] {
		background: transparent; border: 1px solid rgba(255,255,255,0.2); color: #ffffff; padding: 14px; display: block; font-size: 14px; margin: 0 0 30px; width: 100%; box-sizing: border-box;  font-family: 'Lato'; -webkit-appearance: none; }
		input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="tel"]:focus, input[type="number"]:focus, input[type="range"]:focus, input[type="date"]:focus,
		textarea:focus, input.text:focus, input[type="search"]:focus { border-color: #dadada; }
		textarea { margin-bottom: 15px; }

		textarea { height: 180px; overflow: auto; }
		form .dt-sc-one-half textarea { height: 123px; }
		form .dt-sc-one-half p { margin-bottom: 15px; }
		select { background: #ffffff; border: 1px solid #e5e5d8; padding: 10px; margin: 10px 0 10px; display: block; width: 100%; }
		select option { background: #ffffff; }

		select { height: 50px; background-color: #ffffff; color: #6a695e; border: 1px solid #e5e5d8; width: 100%; margin: 0 0 30px; padding: 15px 10px 14px 15px; -webkit-appearance: none; -moz-appearance: none; appearance: none; cursor:pointer; }

		.selection-box { position: relative; clear: both; }
		.selection-box:before, .selection-box:after { content: ""; pointer-events: none; position: absolute; }
		.selection-box:before { z-index: 1; right: 17px; top: 3px; bottom: 0; height: 0; margin: auto; border-left: 7px solid transparent; border-right: 7px solid transparent; border-top: 7px solid #ffffff; }
		.selection-box:after { width: 50px; height: 50px; right: 0; top: 0; }
		.selection-box select { background: #ffffff; }

		input[type="submit"], button, input[type="button"], input[type="reset"] { float: right; font-size: 16px; font-weight: bold; line-height: normal; display: inline-block; margin: 10px 0 0; cursor: pointer; outline: none; position: relative; z-index: 1;
		color: #ffffff; position: relative; padding: 11px 20px; text-transform: uppercase; -webkit-appearance: none; }

		span.error-msg { color: #ff0000; }
		input.error, textarea.error { border-color: #ff0000 !important; }
		.full-contact span.success-msg, .full-man span.success-msg { color: #ffffff; }
		span.success-msg { color: #01850a; }

		/*----*****---- << Images >> ----*****----*/

		img { max-width: 100%; }
		.ie8 img { width: auto; }

		.post-content input[type="submit"] { float: none; }

		.wp-caption { background: #ebebeb; border: 1px solid #d6d5c9; margin-bottom: 10px; margin-top: 10px; padding: 7px; text-align: center; }
		.wp-caption img { display: block; margin: 0 auto; }
		.wp-caption .wp-caption-text { text-align: center; padding-top: 0; margin: 0; }
		.wp-caption.alignnone { clear: both; }

		img.size-auto, img.size-large, img.size-full, img.size-medium { max-width: 99.6%; height: auto; }
		.alignleft, img.alignleft { display: inline; float: left; margin-right: 20px; }
		.alignright, img.alignright { display: inline; float: right; margin-left: 20px; }
		.aligncenter, img.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; text-align: center; }
		.alignleft, .alignright, .aligncenter, .alignnone, img.alignleft, img.alignright, img.aligncenter { margin-bottom: 20px; }

		.widget img.size-auto, .widget img.size-large, .widget img.size-full, .widget img.size-medium { width: 95.6%; }

		.column iframe, iframe, embed, iframe, object, video { max-width: 100%; }

		.shadow { margin: -20px 0 0; width: 100%; float: left; }

		/*----*****---- << Widgets >> ----*****----*/

		.widget { float: left; width: 100%; padding: 0 0 50px; margin: 0; }

		section aside:last-child { padding: 0; }

		.widget .widgettitle { position: relative; display: inline-block; width: 100%; margin-bottom: 10px; }
		.widget .widgettitle h3, .megamenu-child-container > ul.sub-menu > li > .widgettitle > a { position: relative; text-transform: capitalize; font-size: 24px; float: left; clear: both; padding-right: 10px; margin-bottom: 5px; }
		.secondary-sidebar .widget .widgettitle { font-weight: bold; font-size: 22px; text-transform: uppercase; }

		.widget ul { float: left; width: 100%; margin: 0; padding: 0; }
		.widget ul li { display: block; clear: both; }
		.widget ul li a { color: #ffffff; display: block; }
		.widget ul li a:hover, .widget ul li:hover:before { color: rgba(255,255,255,0.6); }

		.widget ul ul { margin-top: 10px; }

		.widget ul li { position:relative; padding: 0 0 0 25px; }
		.widget ul li:before { font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; font-size: 14px; position: absolute; top:1px; left: 0; content: "\f0c1"; color: #ffffff;  }

		.widget.widget_nav_menu ul li:before { content: "\f105";	}
		.widget.widget_pages ul li:before { content: "\f0e7"; }

		.widget.widget_categories ul li, .widget.widget_archive ul li { padding-left: 35px; line-height: 35px; border-bottom: 1px solid rgba(255,255,255,0.4); }
		.widget.widget_categories ul li:hover, .widget.widget_archive ul li:hover { border-color: rgba(255,255,255,1); }
		.widget.widget_categories ul li:before { content: "\f0a9"; left: 10px; }
		.widget.widget_categories ul li span, .widget.widget_archive ul li span { position: absolute; right: 10px; top: 1px;  }
		.widget.widget_categories ul li a { display: block; }

		.widget.widget_archive ul li { padding-left: 25px; }

		.widget.tweetbox ul li:before { content:""; }
		.widget.tweetbox ul li { border: none; padding-left: 0; }
		.widget.tweetbox ul li .tweet-time, .widget.tweetbox ul li a:hover { color: #ac9d8e; }
		.widget.tweetbox ul li:hover:before { color: #37251b !important; }
		.widget.tweetbox ul li .tweet-thumb { margin: 5px 15px 0 0; float: left; }
		.widget.widget_tweetbox ul li .tweet_time a, #footer .widget.widget_tweetbox ul li .tweet_time a { font-style: italic; }
		#footer .widget.widget_tweetbox ul li .tweet_time a:hover { color: #ffffff; }

		.widget .recent-posts-widget ul li { padding: 0; position: relative; }
		.widget .recent-posts-widget ul li:before { content: ""; }

		#footer .widget .recent-posts-widget li:before { background: #ffffff; content: ""; display: inline-block; width: 0; height: 100%; position: absolute; left: 0; bottom: 0; z-index: -1; }
		#footer .widget .recent-posts-widget li:hover:before { width: 100%; }
		#footer .widget .recent-posts-widget ul li:hover h4 a, #footer .widget .recent-posts-widget ul li:hover .entry-metadata .date { color: #000; }

		.widget .recent-posts-widget ul li, .widget.widget_popular_entries ul li { padding: 0 0 25px; border: none; line-height: normal; }
		.widget.widget_popular_entries ul li:last-child { padding: 0; }
		.widget .recent-posts-widget ul li .entry-thumb, .widget.widget_popular_entries ul li .entry-thumb { float: left; margin: 0 20px 10px 0; padding: 0; }
		.widget .recent-posts-widget ul li .entry-thumb img, .widget.widget_popular_entries ul li .entry-thumb img { width: 100%; }
		.widget .recent-posts-widget ul li h4, .widget.widget_popular_entries ul li h6 { font-size: 18px; line-height: 20px; text-transform: none; margin: 0 0 8px 0; display: inline-block; font-weight: 500; }
		.widget .recent-posts-widget ul li .entry-details { padding-left: 75px; margin: 0; }
		.widget .recent-posts-widget ul li .entry-details .entry-title { margin: 0 0 10px; position: relative; top: 5px; }
		.widget .recent-posts-widget ul li .entry-metadata .date { display: table; letter-spacing: 0; font-size: 13px; color: #bdbdbd; }
		.widget .recent-posts-widget ul li .entry-metadata .date .day { display: table-cell; vertical-align: middle; line-height: 16px; }
		.widget .recent-posts-widget ul li .entry-metadata .date span { position: inherit; }
		.widget .recent-posts-widget ul li .entry-details .entry-metadata p, .widget .recent-posts-widget ul li .entry-details .entry-metadata p a { display: inline; }
		.widget .recent-posts-widget ul li .entry-details .entry-metadata p a span, .widget .recent-posts-widget ul li .entry-details .entry-metadata span { color: #ac9d8e; }
		.widget .recent-posts-widget ul li .entry-body { clear: both; }
		.widget .recent-posts-widget ul li .entry-body p { margin: 0; }
		.widget .recent-posts-widget ul li .entry-details .entry-metadata { margin-bottom: 10px; margin-top: 0; }

		.widget .recent-gallery-widget ul li p { margin-bottom: 0; }

		.widget.widget_text ul li:before { content: none; }
		.widget.widget_text ul li { padding-left: 0; font-size: 13px; border-bottom: 1px solid #222; line-height: 30px; }

		.widget_popular_entries.widget li { padding: 0; }
		.widget_popular_entries.widget li:before { content:none; }

		.widget.widget_recent_entries ul li { margin-bottom: 10px; }
		.widget.widget_recent_entries ul li span.post-date { color: #bdbdbd; font-size: 13px; }
		.widget.widget_recent_entries ul li span.post-date:before { content: "\f073"; font-family: FontAwesome; margin-right: 7px; }

		footer .widget.widget_recent_entries ul li { padding: 10px; border: 1px solid #222; }

		.widget.widget_recent_comments ul li:before { content: "\f0e6"; }
		.widget.widget_archive ul li:before { content: "\f124"; }
		.widget.widget_ratings-widget ul li:before { content: "\f006"; }
		.widget.widget_sensei_lesson_component ul li:before { content: "\f02d"; }
		.widget.widget_meta ul li:before { content: "\f044"; }

		.widget.widget_recent_comments ul li a, .widget.tweetbox ul li a { display: inline; }

		.widget .dt-sc-social-icons li { padding: 0; clear: none; }
		.widget .dt-sc-social-icons li a { width: 48px; height: 48px; line-height: 48px; }
		.widget .dt-sc-social-icons li:hover a { color: #ffffff; }
		.widget .dt-sc-social-icons li:before { content: none; }

		.widget.widget_tag_cloud .tagcloud a, .widget.widget_product_tag_cloud .tagcloud a { font-size: 14px !important; background: rgba(255,255,255,0.4); color: #ffffff; margin: 0 1px 10px 0; text-transform: lowercase; display: inline-block;
		padding: 10px; position: relative; text-transform: capitalize; }
		.widget.widget_tag_cloud .tagcloud a:hover, .widget.widget_product_tag_cloud .tagcloud a:hover { background: rgba(255,255,255,0.8); z-index:1;  color: #000; }
		#footer .tagcloud a:hover { color: #ffffff; }

		.widget #wp-calendar caption { font-weight: 300; font-size: 16px; margin-bottom: 10px; }
		.widget #wp-calendar th { padding: 10px; }
		.widget #wp-calendar td { padding: 9px 10px; }

		.widget.flickrbox .flickr-widget div { float: left; max-width: 75px; margin: 0 7px 7px 0; }
		.widget.flickrbox .flickr-widget div a { display: block; line-height: 0; }
		.widget.flickrbox .flickr-widget div img { height: auto; transition: opacity .5s ease-in-out; -moz-transition: opacity .5s ease-in-out; -webkit-transition: opacity .5s ease-in-out; opacity: 1; filter: alpha(opacity=100); }
		.widget.flickrbox .flickr-widget div img:hover { opacity: 0.4; filter: alpha(opacity=40); }

		.widget.widget_text .textwidget ul.dt-sc-fancy-list li:before { top: 1px; }

		.widget.quick_links ul li a { font-weight: 500; }
		.widget.quick_links ul li a:hover { color: #3a3a3a; }

		.widget-intro-text { background: #f4f4f4; padding: 20px 30px; }
		.widget-intro-text .dt-sc-button { font-weight: bold; }
		.widget-intro-text .dt-sc-button.medium { background-image: none; }

		.widget.quick_links li { border-top: 1px solid #f4f4f4; line-height: 35px; }
		.widget.quick_links li:last-child { border-bottom: 1px solid #f4f4f4; }

		.widget .subscribe-frm, .widget.widget_search #searchform { position: relative; float: left; width: 100%; }
		.widget .subscribe-frm input[type="email"], .widget.widget_search #searchform input[type="text"] { float: left; padding: 15px 58px 15px 12px; margin-bottom: 0; }
		.widget .subscribe-frm input[type="submit"], .widget #searchform input[type="submit"] { background-image: url(images/submit.png); background-position: center; background-repeat: no-repeat; display: block; text-indent: -9999px; font-weight: normal; padding: 15px 22px 14px; position: absolute; right: 0; bottom: 1px; border: none; background-color: rgba(255,255,255,0.2); background-size: 50%; }

		.widget.widget_search #searchform input[type="text"] { border-right: none; }
		.widget.widget_search #searchform input[type="text"]:focus { border:1px solid rgba(255,255,255,0.6); }

		@-moz-document url-prefix()	{ .widget #searchform input[type="submit"] { padding: 13px 22px; } }

		.widget ul.tweet_list li { padding-top: 0; padding-bottom: 18px; line-height: 22px; margin-bottom: 15px; border-bottom: 1px solid #f2f2f2; }
		footer .widget ul.tweet_list li { border-bottom: 1px solid #222; }
		.widget ul.tweet_list li:before { content: "\f099"; font-size: 18px; color:#15b2f8; top: 0; }
		.widget ul.tweet_list li a { display: inline-block; }

		#footer .widget .recent-posts-widget ul li h4 a { color: #f4f4f4; }

		::i-block-chrome,.widget .recent-portfolio-widget li h6 { display: inline; }

		.widget .rev_slider_wrapper { clear: both; }

		.widget_rss .rsswidget img { display: none; }
		.widget.widget_rss li { margin-bottom: 15px; }
		.widget.widget_rss li:last-child { margin-bottom: 0; }
		.widget.widget_rss li a { font-weight: bold; line-height: 24px; }
		.widget.widget_rss .widgettitle a:hover { color: #37251b; }
		.widget.widget_rss .rss-date { clear: both; display: block; margin: 0 0 10px; }
		.widget.widget_rss .rss-date, .widget.widget_rss cite { color: #ac9d8e; }
		.widget.widget_rss li:before { content: "\f09e"; top: 0; }

		.secondary-sidebar .dt-sc-popular-procedures-wrapper { background-color: #ffffff; }

	/*----*****---- << Layout >> ----*****----*/

	.sticky-wrapper { float: left; }

	.dt-menu-toggle { color: #ffffff; cursor: pointer; display: none; font-size: 16px; font-weight: bold; padding: 10px 15px; text-transform: uppercase; border: 1px solid rgba(255,255,255,0.7); }
	.dt-menu-toggle i { display: inline-block; float: right; font-size: 18px; margin-right: 4px; margin-top: -1px; position: relative; }

	.fullscreen { background-repeat: no-repeat; background-position: 50% 50%; background-position: 50% 50%\9 !important; position: relative; }
	.fullscreen, .wrapper { width: 100%; min-height: 100%; }

	.content { display: table-cell; vertical-align: middle; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
	.container { width: 1070px; margin: 0 auto; position: relative; clear: both;  }

	.inner-content { overflow: auto; position: relative; margin: 10px; height: 700px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

	.wrapper { width: 100%; margin: 0; padding: 0; float: left; height: 100%; position: relative; }

	#primary { width: 770px; margin: 0; padding: 0; float: left; z-index: 2; position: relative; }
	#primary.content-full-width { width: 100%; }
	#primary.with-left-sidebar { float: right; margin-left: 30px; }
	#primary.with-right-sidebar { float: left; margin-right: 30px; }
	#primary.with-both-sidebar { width: 590px; float: left; margin: 0 20px; }

	.secondary-sidebar, #secondary-right, #secondary-left { width: 270px; margin: 0; float: left; padding: 0; z-index: 2; position: relative; }
	#secondary-right.secondary-has-right-sidebar { float: right; }
	#secondary-left.secondary-has-left-sidebar { float: left; }
	#secondary-left.secondary-has-both-sidebar, #secondary-right.secondary-has-both-sidebar { margin: 0; width: 270px; }

	#secondary { width: 370px; margin: 0 0 0 30px; float: left; padding: 0; }
	#secondary.left-sidebar { margin: 0 20px 0 0; }

	.side-navigation { width:27%; float: left; margin: 0 2% 0 0; padding: 0; }
	.side-navigation-content { width: 71%; float: left; margin: 0; padding: 0; }

	.pp-tableCell { -webkit-box-shadow: inset 0 0 100px 1px rgba(0,0,0,0.5); -moz-box-shadow: inset 0 0 100px 1px rgba(0,0,0,0,5); box-shadow: inset 0 0 100px 1px rgba(0,0,0,0.5); }

	.green .pp-tableCell { background-color: rgba(127,185,14,0.95); }
	.maroon .pp-tableCell { background-color: rgba(73,10,61,0.95); }
	.red .pp-tableCell { background-color: rgba(189,21,80,0.95); }
	.orange .pp-tableCell { background-color: rgba(233,127,2,0.95); }
	.blue .pp-tableCell { background-color: rgba(8,125,194,0.95); }

	.overlay { height: 100%; left: 0; position: fixed; top: 0; width: 100%; text-align: center; -webkit-box-shadow: inset 0 0 100px 1px rgba(0,0,0,0.5); -moz-box-shadow: inset 0 0 100px 1px rgba(0,0,0,0.5);
	 box-shadow: inset 0 0 100px 1px rgba(0,0,0,0.5); display: none; }

	.coral .overlay { background-color: rgba(241,138,138,0.95); }

	.inner-page .green .content { background-color: rgba(127,185,14,0.95); }
	.inner-page .maroon .content { background-color: rgba(73,10,61,0.95); }
	.inner-page .red .content { background-color: rgba(189,21,80,0.95); }
	.inner-page .orange .content { background-color: rgba(233,127,2,0.95); }
	.inner-page .blue .content { background-color: rgba(8,125,194,0.95); }
	.inner-page .coral .content { background-color: rgba(241,138,138,0.95); }

	.contact { position: relative; }

	footer { margin-top: 100px; width: 100%; float: none; background: #000; display: inline-block; text-align: center; padding: 15px 0 7px; }
	footer a { color: #ffffff; text-transform: uppercase; }

		/*----*****---- << Main Menu Button >> ----*****----*/

		a.open-menu.type3 { bottom:0; }
		a.open-menu.type4 { top:0; }
		a.open-menu.type3, a.open-menu.type4 { opacity: 0; }
		body:hover a.open-menu.type3, body:hover a.open-menu.type4 { opacity: 1; }

		a.open-menu p { border: 4px solid #ffffff; padding: 5px 0; margin: 0; text-align: center; }
		a.open-menu p span { font-size: 30px; text-transform: uppercase; font-weight: bold; line-height: normal; }

		a.open-menu.type3, a.open-menu.type4 { color: #ffffff; position: fixed; display: block; z-index: 99; display: table-cell; margin: 0px auto; text-transform: uppercase; right:0; left: auto; text-align: center; }
		a.open-menu.type3 p, a.open-menu.type4 p { border: none; display: inline-block; float: none; padding: 10px; background: rgba(0, 0, 0, 0.8); }
		a.open-menu.type3 span, a.open-menu.type4 span { border: 4px solid #ffffff; display: inline-block; float: none; font-size: 30px; font-weight: bold; line-height: normal; margin: 0 auto; padding: 5px 10px; text-align: center;	text-transform: uppercase;
		letter-spacing: 1px; }
		a.open-menu.type3:hover span, a.open-menu.type4:hover span { border-bottom-color: #615095; border-top-color: #7fb90e;  border-left-color: #f18a8a;  border-right-color: #bd1550; }
		a.open-menu.type3 i, a.open-menu.type4 i { margin: 0 -5px; }

		/*----*****---- << Main Menu Types >> ----*****----*/

		#header { display: block; margin: 0; z-index: 9999999; background: rgba(0, 0, 0, 0.8); position: fixed; backface-visibility: hidden; -webkit-backface-visibility: hidden; }
		#header .menu-toggled-title { display: none; }

		#header ul li.active.violet, #header ul li.violet:hover { background: #615095; }
		#header ul li.active.green, #header ul li.green:hover { background: #7fb90e; }
		#header ul li.active.maroon, #header ul li.maroon:hover { background: #490a3d; }
		#header ul li.active.red, #header ul li.red:hover { background: #bd1550; }
		#header ul li.active.orange, #header ul li.orange:hover { background: #e97f02;}
		#header ul li.active.blue, #header ul li.blue:hover { background: #087dc2; }
		#header ul li.active.coral, #header ul li.coral:hover { background: #f18a8a; }

		#header.type1:hover { left: 0; }
		#header.type2:hover { right: 0; }

		#header.type1 { left:-15%; width: 15%; }
		#header.type2 { right:-15%; width: 15%; }

		#header.type1, #header.type2 { height: 100%; width: 15%; }
		#header.type1 #logo, #header.type2 #logo { float: left; height: auto; padding: 30px 0; text-align: center;  width: 100%; }
		#header.type1 nav ul li, #header.type2 nav ul li { float:left; width: 100%; padding: 0; position: relative; }
		#header.type1 nav ul li a { text-align: left; }
		#header.type1 nav ul li a, #header.type2 nav ul li a { height: 80px; line-height: 80px; padding: 0 8%; width: 84%; display: table; float: left; font-weight: lighter; color: #f1f1f1; text-transform: uppercase; font-size: 18px; }
		#header.type1 nav ul li span { height: 80px; position: absolute; float: right; width: 0; line-height: 80px; right: 0; overflow: hidden; opacity: 0; }
		#header.type1 nav ul li img, #header.type2 nav ul li img { margin: auto; position: absolute; top: 0; bottom: 0; right: 0; left: 0; }

		#header.type1 ul li.active span,  #header.type1 ul li:hover span { opacity: 1; width: 80px; right: -80px;  }

		#header.type1 ul li.violet { -webkit-box-shadow: inset 5px 0 0 0 #503e86; -moz-box-shadow: inset 5px 0 0 0 #503e86; box-shadow: inset 5px 0 0 0 #503e86; }
		#header.type1 ul li.green { -webkit-box-shadow: inset 5px 0 0 0 #699a0a; -moz-box-shadow: inset 5px 0 0 0 #699a0a; box-shadow: inset 5px 0 0 0 #699a0a; }
		#header.type1 ul li.maroon { -webkit-box-shadow: inset 5px 0 0 0 #35072c; -moz-box-shadow: inset 5px 0 0 0 #35072c; box-shadow: inset 5px 0 0 0 #35072c; }
		#header.type1 ul li.red { -webkit-box-shadow: inset 5px 0 0 0 #93103e; -moz-box-shadow: inset 5px 0 0 0 #93103e; box-shadow: inset 5px 0 0 0 #93103e; }
		#header.type1 ul li.orange { -webkit-box-shadow: inset 5px 0 0 0 #be6802; -moz-box-shadow: inset 5px 0 0 0 #be6802; box-shadow: inset 5px 0 0 0 #be6802; }
		#header.type1 ul li.blue { -webkit-box-shadow: inset 5px 0 0 0 #065f93; -moz-box-shadow: inset 5px 0 0 0 #065f93; box-shadow: inset 5px 0 0 0 #065f93; }
		#header.type1 ul li.coral { -webkit-box-shadow: inset 5px 0 0 0 #eb7567; -moz-box-shadow: inset 5px 0 0 0 #eb7567; box-shadow: inset 5px 0 0 0 #eb7567; }

		#header.type2 nav ul li a { text-align: right; }
		#header.type2 nav ul li span { height: 80px; position: absolute; float: left; width: 0; line-height: 80px; left: 0; overflow: hidden; opacity: 0; }
		#header.type2 ul li.active span, #header.type2 ul li:hover span { opacity: 1; width: 80px; left: -80px;  }

		#header.type2 ul li.violet { -webkit-box-shadow: inset -5px 0 0 0 #503e86; -moz-box-shadow: inset -5px 0 0 0 #503e86; box-shadow: inset -5px 0 0 0 #503e86; }
		#header.type2 ul li.green { -webkit-box-shadow: inset -5px 0 0 0 #699a0a; -moz-box-shadow: inset -5px 0 0 0 #699a0a; box-shadow: inset -5px 0 0 0 #699a0a; }
		#header.type2 ul li.maroon { -webkit-box-shadow: inset -5px 0 0 0 #35072c; -moz-box-shadow: inset -5px 0 0 0 #35072c; box-shadow: inset -5px 0 0 0 #35072c; }
		#header.type2 ul li.red { -webkit-box-shadow: inset -5px 0 0 0 #93103e; -moz-box-shadow: inset -5px 0 0 0 #93103e; box-shadow: inset -5px 0 0 0 #93103e; }
		#header.type2 ul li.orange { -webkit-box-shadow: inset -5px 0 0 0 #be6802; -moz-box-shadow: inset -5px 0 0 0 #be6802; box-shadow: inset -5px 0 0 0 #be6802; }
		#header.type2 ul li.blue { -webkit-box-shadow: inset -5px 0 0 0 #065f93; -moz-box-shadow: inset -5px 0 0 0 #065f93; box-shadow: inset -5px 0 0 0 #065f93; }
		#header.type2 ul li.coral { -webkit-box-shadow: inset -5px 0 0 0 #eb7567; -moz-box-shadow: inset -5px 0 0 0 #eb7567; box-shadow: inset -5px 0 0 0 #eb7567; }

		#header.type1 ul li.violet span, #header.type2 ul li.violet span { background: #503e86; }
		#header.type1 ul li.green span, #header.type2 ul li.green span { background: #699a0a; }
		#header.type1 ul li.maroon span, #header.type2 ul li.maroon span { background: #35072c; }
		#header.type1 ul li.red span, #header.type2 ul li.red span { background: #93103e; }
		#header.type1 ul li.orange span, #header.type2 ul li.orange span { background: #be6802; }
		#header.type1 ul li.blue span, #header.type2 ul li.blue span { background: #065f93; }
		#header.type1 ul li.coral span, #header.type2 ul li.coral span { background: #eb7567; }

		#header.type3, #header.type4 { width: 100%; height: 70px; margin-right: 0 !important; margin-left: 0 !important; }
		#header.type3 { top: -70px; }
		#header.type4 { bottom: -70px; }

		#header.type3 nav ul li a { text-align: center; height: 57px; color: #f1f1f1; line-height: 70px; width: 100%; float: left; position: relative; padding-top: 13px; text-transform: uppercase; }
		#header.type3 nav ul li span { height: 0; position: absolute; float: right; width: 80px; line-height: 80px; top: 0; right: 0; left: 0; margin: 0 auto; overflow: hidden; opacity: 0; width: 100%; }
		#header.type3 ul li.active span, #header.type3 ul li:hover span, #header.type4 ul li.active span,  #header.type4 ul li:hover span { opacity: 1; height: 100%; left: 0; position: absolute; right: 0; margin: 0 auto; }
		#header.type3 nav ul li img { position: absolute; left: 0; right: 0; top: 16px; margin: 0px auto; }

		#header.type3 #logo, #header.type4 #logo { float: left; height: auto; padding: 15px 0; text-align: center;  width: 15%; }
		#header.type3 nav ul li, #header.type4 nav ul li { float: left; width: 14.285%; padding: 0; height: 70px; font-weight: 500; }
		#header.type3 nav ul li.active a, #header.type3 nav ul li:hover a { padding-top: 3px; height: 70px; font-size: 20px; }
		#header.type3 nav ul li.active img, #header.type3 nav ul li:hover img { opacity: 0.4 ; top: 26px; transform: scale(1.5); -moz-transform: scale(1.5); -webkit-transform: scale(1.5); }
		#header.type3 #menu-container, #header.type4 #menu-container { width: 65%; float: right; }
		#header.type3 #menu-container nav, #header.type4 #menu-container nav,  #header.type3 #menu-container nav ul, #header.type4 #menu-container nav ul { width: 100%; float: left; }

		#header.type3 ul li.violet { -webkit-box-shadow: inset 0 5px 0 0 #503e86; -moz-box-shadow: inset 0 5px 0 0 #503e86; box-shadow: inset 0 5px 0 0 #503e86; }
		#header.type3 ul li.green { -webkit-box-shadow: inset 0 5px 0 0 #699a0a; -moz-box-shadow: inset 0 5px 0 0 #699a0a; box-shadow: inset 0 5px 0 0 #699a0a; }
		#header.type3 ul li.maroon { -webkit-box-shadow: inset 0 5px 0 0 #35072c; -moz-box-shadow: inset 0 5px 0 0 #35072c; box-shadow: inset 0 5px 0 0 #35072c; }
		#header.type3 ul li.red { -webkit-box-shadow: inset 0 5px 0 0 #93103e; -moz-box-shadow: inset 0 5px 0 0 #93103e; box-shadow: inset 0 5px 0 0 #93103e; }
		#header.type3 ul li.orange { -webkit-box-shadow: inset 0 5px 0 0 #be6802; -moz-box-shadow: inset 0 5px 0 0 #be6802; box-shadow: inset 0 5px 0 0 #be6802; }
		#header.type3 ul li.blue { -webkit-box-shadow: inset 0 5px 0 0 #065f93; -moz-box-shadow: inset 0 5px 0 0 #065f93; box-shadow: inset 0 5px 0 0 #065f93; }
		#header.type3 ul li.coral { -webkit-box-shadow: inset 0 5px 0 0 #eb7567; -moz-box-shadow: inset 0 5px 0 0 #eb7567; box-shadow: inset 0 5px 0 0 #eb7567; }

		#header.type4 nav ul li img { position: absolute; left: 0; right: 0; top: 14px; margin: 0px auto; width: 14px; }
		#header.type4 nav ul li a { text-align: center; height: 57px; color: #f1f1f1; line-height: 70px; width: 100%; float: left; position: relative; padding-top: 10px; text-transform: uppercase; }
		#header.type4 nav ul li.active a, #header.type4 nav ul li:hover a { padding-top: 0; height: 70px; font-size: 20px; }
		#header.type4 nav ul li.active img, #header.type4 nav ul li:hover img { opacity: 0.3; width: 30px; top: 18px; }

		#header.type4 ul li.violet { -webkit-box-shadow: inset 0 -5px 0 0 #503e86; -moz-box-shadow: inset 0 -5px 0 0 #503e86; box-shadow: inset 0 -5px 0 0 #503e86; }
		#header.type4 ul li.green { -webkit-box-shadow: inset 0 -5px 0 0 #699a0a; -moz-box-shadow: inset 0 -5px 0 0 #699a0a; box-shadow: inset 0 -5px 0 0 #699a0a; }
		#header.type4 ul li.maroon { -webkit-box-shadow: inset 0 -5px 0 0 #35072c; -moz-box-shadow: inset 0 -5px 0 0 #35072c; box-shadow: inset 0 -5px 0 0 #35072c; }
		#header.type4 ul li.red { -webkit-box-shadow: inset 0 -5px 0 0 #93103e; -moz-box-shadow: inset 0 -5px 0 0 #93103e; box-shadow: inset 0 -5px 0 0 #93103e; }
		#header.type4 ul li.orange { -webkit-box-shadow: inset 0 -5px 0 0 #be6802; -moz-box-shadow: inset 0 -5px 0 0 #be6802; box-shadow: inset 0 -5px 0 0 #be6802; }
		#header.type4 ul li.blue { -webkit-box-shadow: inset 0 -5px 0 0 #065f93; -moz-box-shadow: inset 0 -5px 0 0 #065f93; box-shadow: inset 0 -5px 0 0 #065f93; }
		#header.type4 ul li.coral { -webkit-box-shadow: inset 0 -5px 0 0 #eb7567; -moz-box-shadow: inset 0 -5px 0 0 #eb7567; box-shadow: inset 0 -5px 0 0 #eb7567; }

		/*----*****---- << Main Menu Contact >> ----*****----*/

		.nav-contact { position: absolute; width: 100%; float: left; bottom: 0; text-align: center; }
		.nav-contact p { float: left; height: 62px; width: 100%; line-height: 62px; margin: 0; font-weight:normal; color: #ffffff; background: #434e54; }
		.nav-contact p span { font-weight: bold; }
		.nav-contact p i { margin-right: 5px; line-height: normal; }

		.nav-contact ul.dt-sc-social-icons { float: left; margin: 0; text-align: center; width: 100%; }
		.nav-contact ul.dt-sc-social-icons li { display: inline-block; float: left; padding: 0; text-align: center; width: 25%; }
		.nav-contact ul.dt-sc-social-icons li a { color: #ffffff; display: inline-block; float: none; height: 60px; line-height: 60px; text-align: center; width: 100%; }

		.nav-contact ul.dt-sc-social-icons li.facebook a { box-shadow: inset 0 0 0 60px #3b5998; }
		.nav-contact ul.dt-sc-social-icons li.twitter a { box-shadow: inset 0 0 0 60px #55acee; }
		.nav-contact ul.dt-sc-social-icons li.google a  { box-shadow: inset 0 0 0 60px #dd4b39; }
		.nav-contact ul.dt-sc-social-icons li.pinterest a { box-shadow: inset 0 0 0 60px #cc2127; }
		.nav-contact ul.dt-sc-social-icons li.youtube a { box-shadow: inset 0 0 0 60px #e52d27; }
		.nav-contact ul.dt-sc-social-icons li.linkedin a { box-shadow: inset 0 0 0 60px #0976b4; }
		.nav-contact ul.dt-sc-social-icons li.dribbble a { box-shadow: inset 0 0 0 60px #ea4c89; }
		.nav-contact ul.dt-sc-social-icons li.flickr a { box-shadow: inset 0 0 0 60px #ff0084; }
		.nav-contact ul.dt-sc-social-icons li.tumblr a { box-shadow: inset 0 0 0 60px #35465c; }

		.nav-contact ul.dt-sc-social-icons li.facebook a:hover { box-shadow: inset 0 0 0 2px #3b5998; color: #3b5998; }
		.nav-contact ul.dt-sc-social-icons li.twitter a:hover { box-shadow: inset 0 0 0 2px #55acee; color: #55acee; }
		.nav-contact ul.dt-sc-social-icons li.google a:hover { box-shadow: inset 0 0 0 2px #dd4b39; color: #dd4b39; }
		.nav-contact ul.dt-sc-social-icons li.pinterest a:hover { box-shadow: inset 0 0 0 2px #cc2127; color: #cc2127; }
		.nav-contact ul.dt-sc-social-icons li.youtube a:hover { box-shadow: inset 0 0 0 2px #e52d27; color: #e52d27; }
		.nav-contact ul.dt-sc-social-icons li.linkedin a:hover { box-shadow: inset 0 0 0 2px #0976b4; color: #0976b4; }
		.nav-contact ul.dt-sc-social-icons li.dribbble a:hover { box-shadow: inset 0 0 0 2px #ea4c89; color: #ea4c89; }
		.nav-contact ul.dt-sc-social-icons li.flickr a:hover { box-shadow: inset 0 0 0 2px #ff0084; color: #ff0084; }
		.nav-contact ul.dt-sc-social-icons li.tumblr a:hover { box-shadow: inset 0 0 0 2px #35465c; color: #35465c; }

	/*----*****---- << Blog >> ----*****----*/

	.commententries { width: 100%; float: left; margin: 30px 0 0; padding: 0; }
	ul.commentlist { float: left; margin: 20px 0 20px 0; padding: 0 0 20px 0; list-style: none; border-top: 0; width: 100%; }
	ul.commentlist li { display: block; float: none; list-style: none; border: none; margin: 0 0 20px; padding: 0 0 0 115px; position: relative; clear: both; line-height: normal; }
	ul.commentlist li ul.children { margin: 10px 0 10px; padding: 0; float: left; border: none; clear: both; width: 100%; }
	ul.commentlist li .respond { margin-left: 69px; }

	ul.commentlist li .comment-details { position: relative; padding: 0 0 20px; margin: 0 0 10px; display: inline-block; width: 100%; }
	ul.commentlist li .comment-details:before { border-bottom: 1px solid #ffffff; bottom: 0; content: ''; left: 0; position: absolute; width: 100%; }

	ul.commentlist li .comment-body { margin: 10px 0 0; width: 100%; float: left; }

	ul.commentlist li .comment-author { left: 0; top: 0; position: absolute; }
	ul.commentlist li .comment-author img { max-width: 90px; max-height: 90px; float:left; margin: 0; border-radius: 2px; }
	ul.commentlist li .author-name, ul.commentlist li .author-name a { font-size: 16px; color: #ffffff; float: left; margin-right: 3px; text-transform: uppercase; font-weight: bold; }
	ul.commentlist li.bypostauthor .author-name { font-weight: 600; }

	ul.commentlist li .commentmetadata { font-size: 12px; text-decoration: none; position: relative; font-weight: 400; float: left; line-height: 22px; }
	ul.commentlist li .commentmetadata:before { content:"( "; }
	ul.commentlist li .commentmetadata:after { content:" )"; }

	ul.commentlist li .reply { margin: 0; float: right; position: absolute; right: -1px; bottom: -28px; z-index: 1; }
	ul.commentlist li .reply a { background: #ffffff; color: #000; }

	ul.commentlist > li > ul.children li ul.children li #respond p span { display: none; }

	ul.commentlist li #respond { padding-bottom: 20px; }

	#commentform { text-align: center; }
	#commentform input[type="text"], #commentform input[type="password"], #commentform input[type="email"], #commentform input[type="url"], #commentform input[type="tel"], #commentform input[type="number"],
	#commentform input[type="range"], #commentform input[type="date"], #commentform input[type="search"], #commentform textarea, #commentform input.text { padding: 19px 10px; margin-bottom: 20px; width: 100%; font-family: 'Lato'; }
	#commentform p.textarea { width: 100%; font-family: 'Lato'; }

	#commentform p { float: left; position: relative; }
	#commentform input.error, #commentform textarea.error { border-color: #ff0000; color: #ff0000; position: relative; }
	#commentform label.error { color: red;position: absolute;right: 0; bottom: 8px; }
	#commentform p.textarea label.error { bottom: 16px; bottom:8px\0/; }

	@-moz-document url-prefix() { #commentform p.textarea label.error { bottom: 8px; } }

	#commentform .dt-sc-button { margin: 0 auto; float: none; }
	#commentform .dt-sc-button.small {  margin: 0; background: none; font-family: 'Lato'; border: 1px solid rgba(255,255,255,0.6); }
	#commentform .dt-sc-button.small:hover { color: #000; -webkit-box-shadow: inset  0px 0px 0px 30px rgba(255, 255, 255, 1); -moz-box-shadow: inset  0px 0px 0px 30px rgba(255, 255, 255, 1);
	box-shadow: inset  0px 0px 0px 30px rgba(255, 255, 255, 1); }

	#respond, form#commentform { display: inline-block; width: 100%; }
	#respond h3 { padding-bottom: 20px; }

	/*----*****---- << Portfolio >> ----*****----*/

	h3.portfolio-single { margin-bottom: 10px; display: inline-block; text-transform: capitalize; float: left; width: 100%; }
	h6.portfolio-single { font-weight:bold; margin: 15px 0 10px; }

	.project-details { margin-bottom: 15px; }
	.project-details li { padding-bottom: 0; padding-top: 5px; display:inline-block; width:100%; line-height:20px; }
	.project-details li:last-child { border:0; }
	.project-details li i.fa { margin-right: 15px; background: rgba(255,255,255,0.2); width: 30px; height: 30px; line-height: 30px; text-align: center; font-size: 14px; }
	.project-details li span { margin-right: 5px; }
	.project-details li a { color: rgba(255,255,255, 1); }
	.project-details li a:hover {color: rgba(255,255,255, 0.6);}
	.project-details li strong { font-weight:500; }

	.dt-sc-three-fourth ul.project-details li { float: left; margin-right: 30px; width: auto; }
	.dt-sc-three-fourth ul.project-details li i.fa { margin-right: 10px; }

	.gallery-share .dt-sc-social-icons li { margin-bottom:5px; float:left; margin-right: 5px; }
	.gallery-share .dt-sc-social-icons li a { width: 30px; height: 30px; line-height: 30px; text-align: center; font-size: 14px; color: #ffffff; background: rgba(255,255,255,0.2); }
	.gallery-share .dt-sc-social-icons li a:hover { border-radius: 50%; }

	.gallery-share .dt-sc-social-icons li.facebook a:hover { background: #3b5998; }
	.gallery-share .dt-sc-social-icons li.twitter a:hover { background: #55acee; }
	.gallery-share .dt-sc-social-icons li.google a:hover { background: #dd4b39; }
	.gallery-share .dt-sc-social-icons li.linkedin a:hover { background: #0976b4; }
	.gallery-share .dt-sc-social-icons li.pinterest a:hover { background: #cc2127; }

	.post-nav-container { display:inline-block; width: 96%; position:relative; border-top: 1px solid rgba(255,255,255,0.2); border-bottom: 1px solid rgba(255,255,255,0.2); margin: 40px 2%; }
	.post-nav-container a { color: #ffffff; padding: 20px; float:left;  background: rgba(255,255,255,0.2); position: relative; }
	.post-nav-container span { font-size: 14px; }
	.post-nav-container .prev-post, .post-nav-container .prev-post span { float: left; }
	.post-nav-container .next-post, .post-nav-container .next-post span { float: right; }

	.post-nav-container .prev-post a:before, .post-nav-container .next-post a:before { content: ''; display: block; margin: auto; height: 1px; width: 45%; background: #ffffff; bottom: 10px;  position: absolute; right: 0; left: 0; }
	.post-nav-container .prev-post a:after, .post-nav-container .next-post a:after { content: ''; display: block; margin: auto; height: 1px; width: 45%; background: #ffffff; top: 10px; position: absolute; right: 0; left: 0; }

	.post-nav-container .prev-post:hover a:before { width: 20%; bottom: 22px; left: -70px; transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); }
	.post-nav-container .prev-post:hover a:after { width: 20%; top: 22px; left: -70px; transform: rotate(-45deg); -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); }

	.post-nav-container .next-post:hover a:before { width: 20%; bottom: 22px; right: -70px; transform: rotate(-45deg); -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); }
	.post-nav-container .next-post:hover a:after { width: 20%; top: 22px; right: -70px; transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); }

	::i-block-chrome, .post-nav-container .prev-post:hover a:before, ::i-block-chrome, .post-nav-container .next-post:hover a:before { bottom: 23px; }
	::i-block-chrome, .post-nav-container .prev-post:hover a:after, ::i-block-chrome, .post-nav-container .next-post:hover a:after { top: 22px; }

	.post-nav-container .prev-post:before { display: block; content: ""; height: 0; width: 0; border-image: none; position: absolute; left: -28px; top: -1px; border-top: 29px solid transparent; border-right: 28px solid rgba(255,255,255,0.2);
	border-bottom: 29px solid transparent; }
	.post-nav-container .next-post:after { display: block; content: ""; height: 0; width: 0; border-image: none; position: absolute; right: -28px; top: -1px; border-top: 29px solid transparent; border-left: 28px solid rgba(255,255,255,0.2);
	border-bottom: 29px solid transparent; }

	.with-sidebar .post-nav-container { border-bottom: 1px solid rgba(255, 255, 255, 0.2); border-top: 1px solid rgba(255, 255, 255, 0.2); display: block; margin: 30px auto; min-height: 56px; position: relative; width: 94%; }

	.post-nav-container .prev-post span { position: absolute; left: 0; }
	.post-nav-container .next-post span { position: absolute; right: 0; }

		/*----*****---- << Recent Gallery >> ----*****----*/

		.recent-gallery-container { float: left; width: 100%; box-shadow: 0 0 0 4px #ffffff; -moz-box-shadow: 0 0 0 4px #ffffff; -webkit-box-shadow: 0 0 0 4px #ffffff; }
		.recent-gallery-container .bx-wrapper { position:relative; margin-bottom: -8px; }
		.recent-gallery li { display: block; padding: 0; }
		.recent-gallery-container .bx-controls a { bottom: 0; font-size: 0; height: 40px; margin: auto; position: absolute; top: 0; width: 40px; z-index: 1; text-align: center;}
		.recent-gallery-container .bx-controls a.bx-prev { background: url(images/prev-arrow.png) no-repeat rgba(0,0,0,0.4); left: 10px;  background-size: 50%; background-position: center; }
		.recent-gallery-container .bx-controls a.bx-next { background: url(images/next-arrow.png) no-repeat rgba(0,0,0,0.4); right: 10px;  background-size: 50%; background-position: center; }
		.recent-gallery-container #bx-pager { display: inline; float: left; margin: 0; padding: 0; text-align: center; width: 100%; position: absolute; bottom: 10px; }
		.recent-gallery-container #bx-pager a { cursor: pointer; display: inline-block; line-height: 0; margin: 0 5px; position: relative; width: 12%; }
		.recent-gallery-container #bx-pager a.active, .recent-gallery-container #bx-pager a:hover { box-shadow: 0 0 0 4px #ffffff; -moz-box-shadow: 0 0 0 4px #ffffff; -webkit-box-shadow: 0 0 0 4px #ffffff; }
		.recent-gallery-container #bx-pager a img { width: 100%; float: left; }
		.recent-gallery-container #bx-pager a.active:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; display: block; }
		.recent-portfolio { float: left; width: 100%; position: relative; }
		.recent-portfolio .product-carousel .fa { font-size: 28px; }

		#primary.with-sidebar .recent-gallery-container .bx-wrapper { margin-bottom: -9px; }
		#primary.with-sidebar .recent-gallery-container #bx-pager a.active, #primary.with-sidebar .recent-gallery-container #bx-pager a:hover { box-shadow: 0 0 0 3px #ffffff; -moz-box-shadow: 0 0 0 3px #ffffff; -webkit-box-shadow: 0 0 0 3px #ffffff; }

	/*----*****---- << Loader Style >> ----*****----*/

	#loader-wrapper { background: #faebd7; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 99999999; text-align: center; font-family: 'Righteous', cursive; }

	.loader-text { fill: none; stroke-width: 0.5; stroke-linejoin: round; stroke-dasharray: 70 330; stroke-dashoffset: 0;  stroke-dasharray: 0\0/; -webkit-animation: stroke 6s infinite linear; -ms-animation: stroke 6s infinite linear;
	animation: stroke 6s infinite linear; font-size: 44px; }
	.loader-text:nth-child(5n + 1) { stroke: #615095; -webkit-animation-delay: -1.2s; animation-delay: -1.2s; }
	.loader-text:nth-child(5n + 2) { stroke: #7fb90e; -webkit-animation-delay: -2.4s; animation-delay: -2.4s; display: none\0/; }
	.loader-text:nth-child(5n + 3) { stroke: #490a3d; -webkit-animation-delay: -3.6s; animation-delay: -3.6s; display: none\0/; }
	.loader-text:nth-child(5n + 4) { stroke: #e97f02; -webkit-animation-delay: -4.8s; animation-delay: -4.8s; display: none\0/; }
	.loader-text:nth-child(5n + 5) { stroke: #f18a8a; -webkit-animation-delay: -6s; animation-delay: -6s; display: none\0/; }

	::i-block-chrome, .loader-text:nth-child(5n + 2), ::i-block-chrome, .loader-text:nth-child(5n + 3), ::i-block-chrome, .loader-text:nth-child(5n + 4), ::i-block-chrome, .loader-text:nth-child(5n + 5) { display: none; }

	::i-block-chrome, .loader-text { color: #615095; stroke-dasharray: 0; }

	@-webkit-keyframes stroke {
	  100% {
		stroke-dashoffset: -400; }
	}
	@keyframes stroke {
	  100% {
		stroke-dashoffset: -400; }
	}

	svg { width:100%; height: 100%; }

	.caption { background: rgba(64,53,98,0.95); padding: 8% 3%; width: 100%; text-align: center; }
	.caption h2 { letter-spacing: 7px; font-size: 80px; text-transform:capitalize; line-height: normal; padding: 5% 0; font-weight: 100; font-family: 'Lato', sans-serif; color: #eee; }
	.caption  a { z-index:999; font-weight:100; }

	.page-title { position: relative; height: 200px; z-index: 1; overflow:hidden; margin-bottom: 100px; }
	.page-title .page-title-overlay { height: 100%; width: 100%; background: url(http://placehold.it/1920x600&text=Breadcrumb+Image) no-repeat center center; background-size: cover; }
	.page-title h1 { position: absolute; width: 100%; left: 50%; top: 50%; bottom: auto; right: auto; -webkit-transform: translateX(-50%) translateY(-50%); -moz-transform: translateX(-50%) translateY(-50%);
	 -ms-transform: translateX(-50%) translateY(-50%); -o-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); text-align:center; font-size: 65px; }

	 /*----*****---- << To Top >> ----*****----*/

	#toTop { display:none; text-decoration:none; position:fixed; bottom:30px; right:30px; overflow:hidden; width:40px; height:40px; border: 1px solid rgba(255,255,255,0.6); text-indent:100%;
	background:url(images/ui.totop.png) no-repeat left top; z-index:9999;  transform: rotate(45deg); -o-transform: rotate(45deg); -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); }
	#toTopHover { background:url(images/ui.totop.png) no-repeat left -40px; width:40px; height:40px; display:block; overflow:hidden; float:left; opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0); }
	#toTop:active, #toTop:focus { outline:none;	}

	 /*----*****---- << Retina Images >> ----*****----*/

	@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
		.border-title::after { background-image:url(images/border-title-bg@2x.png); background-size:252px 22px; }
		input { border-radius:0; }
		.widget .subscribe-frm input[type="submit"], .widget #searchform input[type="submit"] { background-image:url(images/submit@2x.png); }
		#toTop { background:url(images/ui.totop@2x.png); background-size: 40px 80px; }
		}

		/*----*****---- << Video Wrapper >> ----*****----*/
		.videoWrapper {
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			padding-top: 25px;
			height: 0;
			}

		.videoWrapper iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			}
